<div>
  <.button phx-click="join">Join</.button>
  <.button phx-click="start">Start</.button>
  <.button phx-click={JS.dispatch("click", to: {:inner, "a"})}>
    <.link patch={~p"/"}>Hall</.link>
  </.button>
</div>
<div id="players" phx-update="stream">
  <div :for={{id, player} <- @streams.players} id={id}>
    <.avatar name={player.token} class="w-12 h-12" />
    <span>{player.id} - {player.position} - {length(player.hand)}</span>
    <.icon :if={@current_player == player} name="hero-star-solid" />
    <.icon :if={player.in_turn?} name="hero-star-solid" class="text-red-600" />
    <div class="flex space-x-1">
      <.tile :for={tile <- player.hand} tile={tile} show={@current_player == player} />
    </div>
    <div :for={tiles <- player.open_hand}>
      <label>Open hand: </label>
      <div :for={tile <- tiles}>
        <span>{tile.suit} - {tile.value}</span>
      </div>
    </div>
  </div>
</div>

<div id="tiles" phx-update="stream" class="grid grid-cols-9 mt-40">
  <.tile :for={{_id, tile} <- @streams.tiles} tile={tile} />
</div>
