<div class="flex flex-col">
  <div class="flex space-x-2">
    <.button phx-click="new_game">New Game</.button>
  </div>
  <.table id="games" rows={@streams.games}>
    <:col :let={{_id, game}} label="PID">
      {inspect(game)}
    </:col>
    <:col :let={{id, _game}} label="Game">
      <.room id={id} />
    </:col>
    <:col :let={{_id, game}} label="Players">
      <div class="flex">
        <.avatar :for={player <- Game.players(game)} name={player.token} class="m-1" />
      </div>
    </:col>
    <:action :let={{id, _game}}>
      <.button phx-click="join" phx-value-id={id}>
        Join
      </.button>

      <.button phx-click={JS.dispatch("click", to: {:inner, "a"})}>
        <.link patch={~p"/game/#{id}"}>Go</.link>
      </.button>
    </:action>
  </.table>
</div>
