@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/** CSS for player position **/
.player-bottom {
  @apply absolute bottom-0 left-1/2 -translate-x-1/2;
}

.player-left {
  @apply absolute left-0 top-1/2 -translate-y-1/2 rotate-90;
}

.player-top {
  @apply absolute top-0 left-1/2 -translate-x-1/2 rotate-180;
}

.player-right {
  @apply absolute right-0 top-1/2 -translate-y-1/2 -rotate-90;
}

/** CSS for player hand **/

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  }

  50% {
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1), 0 0 20px rgb(0 0 0 / 0.1), 0 0 30px rgb(0 0 0 / 0.1);
  }

  100% {
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
}
